[package]
name = "coordinator"
version = "0.1.0"
edition = "2024"
description = "Stateful Coordinator for NebulaStream"
authors = ["Yannik Schroeder <yannik.schroeder@tu-berlin.de>"]

[dependencies]
tokio = { version = "1.0", features = ["full"] }
tracing = "0.1"
tracing-subscriber = "0.3"
flume = "0.11"
ractor = "0.15.8"
sqlx = { version = "0.8", features = ["runtime-tokio-rustls", "sqlite", "migrate", "macros"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "2.0"

[dev-dependencies]
